@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to P I Z Z A T I M E</h1>
    <input type="button" value="Sign In" onclick="@("window.location.href='" + @Url.Action("login", "user") + "'");" />
    <input type="button" value="Create Account" onclick="@("window.location.href='" + @Url.Action("createuser", "user") + "'");" />
    <input type="button" value="Create Inventory Items" onclick="@("window.location.href='" + @Url.Action("create", "aitem") + "'");" />
    <input type="button" value="View Stores" onclick="@("window.location.href='" + @Url.Action("read", "store") + "'");" />
</div>
