@model PizzaBox.Domain.Models.User

<div class="text-left">
    <h1 class="display-4">Create Your Account</h1>
</div>
<br>
<form action="/user/createuser" method="post">
    <p>
        @Html.ValidationMessageFor(m => m.UserName)
        <label for="Model.username">UserName</label>
        <input type="text" id="username" asp-for="@Model.UserName" placeholder="Your Username">
        @Html.ValidationMessageFor(m => m.Password)
        <label for="Model.password">Password</label>
        <input type="text" id="password" asp-for="@Model.Password" placeholder="Your Password">
    </p>

    <p>
        @Html.ValidationMessageFor(m => m.Name.First)
        <label for="Name.First">FirstName</label>
        <input type="text" id="Name.First" asp-for="@Model.Name.First" placeholder="Your First Name">
        @Html.ValidationMessageFor(m => m.Name.Last)
        <label for="Name.Last">LastName</label>
        <input type="text" id="Name.Last" asp-for="@Model.Name.Last" placeholder="Your Last Name">
    </p>
    <br>
    <button type="submit">Create Account</button>

    @Html.AntiForgeryToken()
</form>