@model List<PizzaBox.Domain.Models.Address>

@{
    var userId = TempData["UserID"];
    var userName = TempData["UserName"];
}

<div class="text-right">
    <small>Logged in as: @userName</small>
</div>

@foreach (var address in @Model)
{
    <tr>
        <td>
            @address.AddressLine
        </td>
        <td>
            @address.City
        </td>
        <td>
            <button asp-for="@address.AddressId" type="submit" value="@address.AddressId" onclick="@("window.location.href='" + @Url.Action("makeorder", "user") + "'");" >Place an Order</button>
        </td>
    </tr>
    <br>
    <br>
}

<input type="button" value="Sign Out" onclick="@("window.location.href='" + @Url.Action("logout", "user") + "'");" />