@model PizzaBox.Domain.Models.User

@{
    var issue = (string) TempData["issue"];
}

@Html.ValidationSummary(@issue)
<div class="text-left">
    <h1 class="display-4">Log In for PIZZA</h1>
</div>
<br>
<form action="/user/login" method="post">
    @Html.ValidationMessageFor(m => m.UserName)
    <label for="username">UserName</label>
    <input type="text" id="username" asp-for="@Model.UserName" placeholder="Your Username">
    @Html.ValidationMessageFor(m => m.Password)
    <label for="password">Password</label>
    <input type="text" id="password" asp-for="@Model.Password" placeholder="Your Password">
    <br>
    <button type="submit">Login</button>
</form>