@model PizzaBox.Domain.Models.User
<div class="text-right">
    <small>Logged in as: @Model.UserName</small>
</div>
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name.First!</h1>
</div>
<br>
<input type="button" value="Sign Out" onclick="@("window.location.href='" + @Url.Action("logout", "user") + "'");" />

<input type="button" value="Store Locations" onclick="@("window.location.href='" + @Url.Action("locations", "user") + "'");" />