@model PizzaBox.Domain.Models.User

@{
    var confirmed = (string) TempData["Confirmed"];
}

@if (confirmed != null && confirmed != "")
{
<div id="orderConfirmed" class="alert alert-info alert-dismissible fade show" role="alert">
    @confirmed <a asp-area="" asp-controller="User" asp-action="LatestOrder">View It!</a>
    <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">Accept</span>
    </button>
</div>
}

<div class="text-right">
    <small>Logged in as: @Model.UserName</small>
</div>
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name.First!</h1>
</div>
<br>
<input type="button" value="Sign Out" onclick="@("window.location.href='" + @Url.Action("logout", "user") + "'");" />

<input type="button" value="Store Locations" onclick="@("window.location.href='" + @Url.Action("locations", "user") + "'");" />

<input type="button" value="Past Orders" onclick="@("window.location.href='" + @Url.Action("orderhistory", "user") + "'");" />