@model PizzaBox.Domain.Models.Store

<form action="/store/create" method="post">

    @Html.ValidationMessageFor(m => m.Address.AddressLine)
    <label for="addressLine1">Address Line 1</label>
    <input type="text" id="addressLine1" asp-for="@Model.Address.AddressLine" placeholder="## Street">

    @Html.ValidationMessageFor(m => m.Address.City)
    <label for="city">City</label>
    <input type="text" id="city" asp-for="@Model.Address.City" placeholder="TX">

    <button type="submit">Submit</button>
    @Html.AntiForgeryToken()
</form>